.meal-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

.add-meal-input-fields {
    margin-bottom: 15px;
}

.meal {
    margin: auto;
    border: 2px solid black;
}